<body>
  <header>
    <h1>Perguntas Frequentes</h1>
    <p style="font-size: 20px;">Encontre respostas para as dúvidas mais comuns sobre doação de sangue.</p>
  </header>

  <div class="comentarios-container">
    <div class="sub-comentarios">
      <div class="comentario">
        <div class="comentario-header">
          <div class="comentario-autor">João Silva</div>
          <div class="comentario-date">25 de Julho, 2024</div>
        </div>
        <div class="comentario-body">
          <p>Olá, gostaria de saber quais são os requisitos para a doação de sangue. Existe alguma restrição para
            pessoas com doenças crônicas?</p>
        </div>
        <br>
        <div class="responses">
          <div class="response">
            <div class="response-autor">Doe Sangue</div>
            <div class="response-date">26 de Julho, 2024</div>
            <div class="response-body">
              <p>Olá, João! Para doar sangue, você precisa estar saudável e não ter doenças que possam afetar a doação
                ou o receptor. É sempre bom verificar com o centro de doação sobre qualquer condição médica específica.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="comentario">
        <div class="comentario-header">
          <div class="comentario-autor">Maria Oliveira</div>
          <div class="comentario-date">24 de Julho, 2024</div>
        </div>
        <div class="comentario-body">
          <p>Qual é o tempo médio de espera para conseguir um agendamento para a doação?</p>
        </div>
        <br>
        <div class="responses">
          <div class="response">
            <div class="response-autor">Doe Sangue</div>
            <div class="response-date">25 de Julho, 2024</div>
            <div class="response-body">
              <p>Oi, Maria! O tempo de espera para o agendamento pode variar dependendo da demanda e da disponibilidade.
                Normalmente, você pode agendar sua doação com algumas semanas de antecedência.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comentario-group">
      <div class="comentario">
        <div class="comentario-header">
          <div class="comentario-autor">Matheus Alves</div>
          <div class="comentario-date">26 de Julho, 2024</div>
        </div>
        <div class="comentario-body">
          <p>Posso doar sangue se estou tomando medicamentos regularmente?</p>
        </div>
        <br>
        <div class="responses">
          <div class="response">
            <div class="response-autor">Doe Sangue</div>
            <div class="response-date">27 de Julho, 2024</div>
            <div class="response-body">
              <p>Olá, Matheus! Em geral, a possibilidade de doar sangue enquanto toma medicamentos depende do tipo de
                medicamento e da condição para a qual ele é prescrito. É importante informar ao centro de doação sobre
                todos os medicamentos que você está tomando no momento da triagem. Nossa equipe avaliará se você está
                apto a doar com base nessas informações.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="comentario">
        <div class="comentario-header">
          <div class="comentario-autor">Lucas Pereira</div>
          <div class="comentario-date">26 de Julho, 2024</div>
        </div>
        <div class="comentario-body">
          <p>É necessário realizar algum exame antes da doação de sangue?</p>
        </div>
        <br>
        <div class="responses">
          <div class="response">
            <div class="response-autor">Centro de Doação</div>
            <div class="response-date">27 de Julho, 2024</div>
            <div class="response-body">
              <p>Sim, antes de doar sangue, você passará por uma triagem que inclui uma série de exames rápidos, como
                medição da pressão arterial, hemoglobina e um breve histórico de saúde. Esses exames ajudam a garantir
                que a doação seja segura tanto para o doador quanto para o receptor.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="comentario">
      <div class="comentario-header">
        <div class="comentario-autor">Ana Costa</div>
        <div class="comentario-date">27 de Julho, 2024</div>
      </div>
      <div class="comentario-body">
        <p>Posso doar sangue se fui vacinado recentemente?</p>
      </div>
      <br>
      <div class="responses">
        <div class="response">
          <div class="response-autor">Centro de Doação</div>
          <div class="response-date">28 de Julho, 2024</div>
          <div class="response-body">
            <p>Depende do tipo de vacina que você recebeu. Algumas vacinas podem exigir um período de espera antes que
              você possa doar sangue. É importante informar ao centro de doação sobre todas as vacinas que você recebeu
              recentemente. Eles fornecerão as orientações adequadas com base nas vacinas e no seu estado de saúde.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="comentario">
      <div class="comentario-header">
        <div class="comentario-autor">Carlos Pereira</div>
        <div class="comentario-date">28 de Julho, 2024</div>
      </div>
      <div class="comentario-body">
        <p>Qual é a diferença entre doação de sangue total e doação de plaquetas?</p>
      </div>
      <br>
      <div class="responses">
        <div class="response">
          <div class="response-autor">Centro de Doação</div>
          <div class="response-date">29 de Julho, 2024</div>
          <div class="response-body">
            <p>A doação de sangue total envolve a coleta de todo o sangue do doador, que é então separado em componentes
              como glóbulos vermelhos, plaquetas e plasma. Já a doação de plaquetas é um processo específico onde
              somente as plaquetas são coletadas, e o restante do sangue é devolvido ao doador. A doação de plaquetas
              pode levar mais tempo e pode ser feita com mais frequência do que a doação de sangue total.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-roda-pe></app-roda-pe>
</body>