<footer class="roda-pe">
  <div class="roda-pe-content">
    <div class="roda-pe-brand">
      <img src="assets/doe-sangue.png" alt="Logo" class="roda-pe-logo">
      <p>&copy; 2024 Doe Sangue. Todos os direitos reservados.</p>
    </div>
    <ul class="roda-pe-links">
      <li><a href="/pagina-inicial">Home</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#">Privacidade</a></li>
      <li><a href="#">Termos de Serviço</a></li>
    </ul>
    <div class="roda-pe-social">
      <a href="#" class="social-icon"><img src="assets/logo-facebook.svg" alt="Facebook"></a>
      <a href="#" class="social-icon"><img src="assets/logo-insta.png" alt="Instagram"></a>
    </div>
  </div>
</footer>
